.App {
  background-color: cornflowerblue;
  height:100vh;
  transition: all ease 0.3s;
}

.App .Header-box {
  padding-top:40px;
}

.App .ColorPicker-box {
  display:flex;
  justify-content: center;
  padding-top:40px;
}

.App .Quote-box {
  width:100%;
  display:flex;
  justify-content: center;
  margin-top:20px;
}

.App .Quote-box .refresh {
  cursor:pointer;
}

.App .Quote-box .refresh:hover {
  opacity: 0.8;
}

.App .TagPicker-box {
  display:flex;
  justify-content: center;
  padding-top:40px;
}